{
  "version": "0.5.8",
  "dump-redo-log": 0,
  "dump-raw-data": 0,
  "trace": 0,
  "trace2": 0,
  "direct-read": 0,
  "checkpoint-interval": 10,
  "redo-read-sleep": 10000,
  "redo-buffer-mb": 4096,
  "output-buffer-mb": 1024,
  "max-concurrent-transactions": 65536,
  "sources": [
    {
      "type": "ORACLE",
      "alias": "S1",
      "name": "O112A",
      "user": "system",
      "password": "unknPwd4%",
      "server": "//server:4999/O112A.ORADOMAIN",
      "eventtable": "SYSTEM.OPENLOGREPLICATOR",
      "tables": [
        {"table": "OWNER.TABLENAME1"},
        {"table": "OWNER.TABLENAME2"},
        {"table": "OWNER.TABLENAME3"}]
    }
  ],
  "targets": [
    {
      "type": "KAFKA",
      "format": {"stream": "JSON", "topic": "O112A", "sort-columns": 2, "metadata": 0, "single-dml": 0, "null-columns": 0, "test": 0, "timestamp-format": 0},
      "alias": "T2",
      "brokers": "localhost:9092",
      "source": "S1"
    }
  ]
}
