{
  "version": "0.7.1",
  "sources": [
    {
      "type": "ORACLE",
      "alias": "S1",
      "name": "O112A",
      "mode": {
        "type": "batch",
        "redo-logs": ["/oracle/arch/o1_mf_1_1991_hkb9y64l_.arc", "/oracle/arch/o1_mf_1_1992_hkb9y93r_.arc", "/oracle/otherDir"]
      },
      "memory-min-mb": 64,
      "memory-max-mb": 1024,
      "tables": [
        {"table": "OWNER1.TABLENAME1", "key": "col1, col2, col3"},
        {"table": "OWNER1.TABLENAME2"},
        {"table": "OWNER2.TAB%"}
      ]
    }
  ],
  "targets": [
    {
      "type": "KAFKA",
      "alias": "T2",
      "format": {"stream": "JSON", "topic": "O112A"},
      "brokers": "localhost:9092",
      "source": "S1"
    }
  ]
}
