{
  "version": "0.6.10",
  "sources": [
    {
      "type": "ORACLE",
      "alias": "S1",
      "memory-min-mb": 64,
      "memory-max-mb": 1024,
      "name": "O112A",
      "user": "system",
      "password": "unknPwd4%",
      "server": "//server:4999/O112A.ORADOMAIN",
      "tables": [
        {"table": "OWNER1.TABLENAME1", "key": "col1, col2, col3"},
        {"table": "OWNER1.TABLENAME2"},
        {"table": "OWNER2.TAB%"}]
    }
  ],
  "targets": [
    {
      "type": "KAFKA",
      "alias": "T2",
      "format": {"stream": "JSON", "topic": "O112A"},
      "brokers": "localhost:9092",
      "source": "S1"
    }
  ]
}
